<!DOCTYPE html>
<html lang="en" ng-app="gapminderTools">
<head>
  <base href="/tools/">
  <title>Gapminder DDF Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% for (var prop in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%= o.htmlWebpackPlugin.files.css[prop] %}" rel="stylesheet" type="text/css">
  {% } %}
  <link href="./favicon.ico" rel="shortcut icon">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body ng-controller="gapminderToolsCtrl">
<div class="wrapper">
  <!--Header-->
  <div class="header">
    <a class="header-title" href="http://www.gapminder.org" style="align: center; margin-right: 25px;">
      GAPMINDER DDF TOOLS
    </a>

    <div style="margin-top: 15px;">
      <form class="form-inline" role="form">
        <button ng-click="newTab()">new tab</button>
        <div class="form-group">
          <select ng-model="ddf.type" class="form-control">
            <option value="">choose graph type</option>
            <option ng-repeat="type in ddf.types" value="{{type.value}}">{{type.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>DDF data URL</label>
          <input type="text" ng-model="ddf.url" size="45"  class="form-control">
          <input type="button" ng-click="loadDdf()" value="Load" class="form-control" />
        </div>
      </form>
    </div>

    <div class="pre-popup" ng-if="ddf.popup === true">
      <div ng-if="ddf.type === 'BubbleChart' || ddf.type === 'MountainChart'">
        <div class="popup-block">
          X axis:
          <select ng-model="ddf.xAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
        <div class="popup-block">
          Y axis:
          <select ng-model="ddf.yAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
        <div class="popup-block">
          Size axis:
          <select ng-model="ddf.sizeAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
      </div>
      <div ng-if="ddf.type === 'BubbleMap'">
        <div class="popup-block">
          Size measure:
          <select ng-model="ddf.sizeAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
      </div>
      <div class="popup-footer">
        <input type="button"
               ng-disabled="((ddf.type === 'BubbleChart' || ddf.type === 'MountainChart') && (!ddf.xAxis || !ddf.yAxis || !ddf.sizeAxis)) || (ddf.type === 'BubbleMap' && !ddf.sizeAxis)"
               ng-click="openDdf()"
               value="Go" />
        <input type="button" ng-click="closeDdf()" value="Close" />
      </div>
    </div>

  </div>

  <div>
    <ul class="nav nav-tabs">
      <li ng-class="{'active': tab.id === currentTab}" ng-repeat="tab in tabs">
        <a ng-click="setTab(tab.id)">
          <button style="padding-left: 10px;" class="close" type="button" ng-click="closeTab(tab.id)">×</button> tab #{{tab.id}}</a>
      </li>
    </ul>
  </div>

  <!--Content-->
  <div ng-repeat="tab in tabs"
       class="column main"
       ng-show="currentTab === tab.id"
       id="vizabi-placeholder{{tab.id}}">
  </div>

</div>

<div class="wrapper-error" ng-class="{hidden : !loadingError}">
  <!--Error-->
  <h1 class="header-title">GAPMINDER DDF TOOLS</h1>

  <h2>Ops! Something went terribly wrong</h2>
</div>

{% for (var chunk in o.htmlWebpackPlugin.files.js) { %}
<script src="{%=o.htmlWebpackPlugin.files.js[chunk]%}"  charset="utf-8"></script>
{% } %}

</body>
</html>
